.gallery-info.container.col-md-12 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.artWork-image {
  height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.artWork-details {
  margin-top: 15px;
  padding: 0 15px;
}
