.gallery-info.container.col-md-12 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.artWork-image {
  height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.artWork-details {
  margin-top: 15px;
  padding: 0 15px;
}

button.remove-button.btn.btn-primary {
  position: absolute;
  right: 0;
  border-bottom: 1px solid red;
  border-left: 1px solid red;
  background-color: transparent;
  border-right: none;
  border-top: none;
  border-radius: 0;
  padding: 5px;
}

button.remove-button.btn.btn-primary:hover {
  font-size: 20px;
  transition: 1s;
  text-shadow: 0px 0px 6px white;
}
